.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  transition: opacity 1s ease; 
}

.preloader.fade-out {
  opacity: 0;
  pointer-events: none;
}

.preloader-logo {
  width: 50%;
  max-width: 300px;
  height: auto;
  animation: fadeInOut 2s infinite ease-in-out;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
